nav {
    background-color: $dark;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 70px;
        }
        ul {
            display: flex;
            li {
                font-size: $normal;
                padding-left: 1rem;
                color: $primary;
                display: inline-block;
                &:hover{
                    color: $secondary;
                    cursor: pointer;
                }
            }
        } 
    }
}

